.collection {
  padding-right: 30px;
  .list-group-item {
    margin-bottom: 10px;
    position: relative;
  }
  .remove {
    font-size: 21px;
    position: absolute;
    right: -25px;
    text-align: left;
    top: 1px;
  }
}