<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Dries De Peuter">
    <link rel="icon" href="{{ asset('bundles/clasticbackoffice/favicon.png') }}">

    <title>{% block html_title %}{% endblock %}</title>

    <link href="{{ asset('build/app.min.css') }}" rel="stylesheet">
</head>

<body>
    {% block html_body %}{% endblock %}
    <script src="{{ asset('build/vendor.min.js') }}"></script>
    <script src="{{ asset('build/app.min.js') }}"></script>
</body>
</html>
