/web/bundles/
/web/vendor/
/web/build/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/phpunit.xml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/node_modules/
/bin/
/composer.phar
