{% extends 'ClasticBackofficeBundle::base.html.twig' %}

{% block page_title %}Dashboard{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <div role="tabpanel" class="tabpanel">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#mycontent" aria-controls="mycontent" role="tab" data-toggle="tab">My content</a></li>
                    <li role="presentation"><a href="#recent" aria-controls="recent" role="tab" data-toggle="tab">Recent</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="mycontent">
                        mycontent
                    </div>
                    <div role="tabpanel" class="tab-pane" id="recent">
                        recent
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div role="tabpanel" class="tabpanel">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
                    <li role="presentation"><a href="#help" aria-controls="profile" role="tab" data-toggle="tab"><i class="fa fa-question-circle"></i></a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">home</div>
                    <div role="tabpanel" class="tab-pane" id="profile">profile</div>
                    <div role="tabpanel" class="tab-pane" id="help">
                        Keyboard shortcuts:
                        <dl>
                            <dt>m</dt>
                            <dd>Toggle module list</dd>
                        </dl>
                    </div>
                </div>

            </div>
        </div>

    </div>

{% endblock %}
