<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>Clastic Demo setup</title>

    <link href="/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/bundles/demo/css/blog.css" rel="stylesheet">

    <link rel="dns-prefetch" href="//ajax.googleapis.com/">
</head>

<body>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-W32N83" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-W32N83');</script>
<!-- End Google Tag Manager -->

    <div class="blog-masthead">
        <div class="container">
            {{ clastic_menu('main') }}
        </div>
    </div>


    <div class="container">
        {% block content_header %}{% endblock %}
        <div class="row">
            <div class="col-sm-8 blog-main">
                {% block content %}{% endblock %}
            </div>
            <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
                <div class="sidebar-module sidebar-module-inset">
                    <h4>About</h4>
                    {{ clastic_block('about') }}
                </div>
                <div class="sidebar-module">
                    <h4>Elsewhere</h4>
                    <ol class="list-unstyled">
                        <li><a href="https://github.com/Clastic">GitHub</a></li>
                    </ol>
                </div>
            </div><!-- /.blog-sidebar -->
        </div>
    </div>

    <footer class="blog-footer">
        <p>This template is an example template from the <a href="http://getbootstrap.com">Bootstrap</a> site created by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        <p>
            <a href="#">Back to top</a>
        </p>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
