{% use 'form_div_layout.html.twig' %}

{# Custom elements #}

{% block alias_widget -%}
    {% if autofill %}
        {%- set attr = attr|merge({'data-alias-pattern': alias_pattern|default('{title}') }) -%}
    {% endif %}
    <div class="input-group">
        <span class="input-group-addon">{{ prefix_text }}</span>
        {{ block('form_widget_simple') }}
    </div>
{%- endblock alias_widget %}
