{% extends 'ClasticBackofficeBundle::base.html.twig' %}

{% block html_title %}Clastic - {{ module.name }}{% endblock %}
{% block page_title -%}
    {{ module.name }}
{%- endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <section class="node-list">
                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="alert alert-success" role="alert">
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                <header class="header"></header>

                {% include "ClasticMediaBundle:Form:file_browser.html.twig" %}
            </section>
        </div>
    </div>
{% endblock %}
