{% extends 'ClasticBackofficeBundle:Node:list.html.twig' %}

{% block list_header %}
    <tr>
        <th></th>
        <th>Username</th>
        <th>Roles</th>
    </tr>
{% endblock %}

{% block list_body %}
    <tr>
        <td>
            <a class="btn btn-success btn-xs" href="{{ path('clastic_backoffice_form', {type: type, nodeId: record.id}) }}"><i class="fa fa-pencil"></i></a>
            <a class="btn btn-danger btn-xs" href="{{ path('clastic_backoffice_node_delete', {type: type, nodeId: record.id}) }}"><i class="fa fa-trash"></i></a>
        </td>
        <td>{{ record.username }}</td>
        <td>
            <span class="label label-default">online</span>
        </td>
    </tr>
{% endblock %}