{% extends 'ClasticNodeBundle:Backoffice/Node:list.html.twig' %}

{% block list_header %}
    <tr>
        <th></th>
        <th>Username</th>
        <th>Roles</th>
    </tr>
{% endblock %}

{% block list_body %}
    <tr>
        <td>
            <a class="btn btn-success btn-xs" href="{{ path('clastic_node_form', {type: type, id: record.id}) }}"><i class="fa fa-pencil"></i></a>
            <a class="btn btn-danger btn-xs" href="{{ path('clastic_node_delete', {type: type, id: record.id}) }}"><i class="fa fa-trash"></i></a>
        </td>
        <td>{{ record.username }}</td>
        <td>
            {% for role in record.roles %}
                <span class="label label-default">{{ role }}</span>
            {% endfor %}
        </td>
    </tr>
{% endblock %}
