{% extends 'ClasticNodeBundle:Backoffice/Node:list.html.twig' %}

{% block page_title -%}
    Menu Item
    <a href="{{ path('clastic_backoffice_menu_item_form', {menuId: menuId}) }}"><i class="fa fa-plus-circle text-success"></i></a>
{%- endblock %}

{% block list_header %}
    <tr>
        <th></th>
        <th>Title</th>
        <th>Status</th>
    </tr>
{% endblock %}

{% block list_body %}
    <tr>
        <td>
            <a class="btn btn-success btn-xs" href="{{ path('clastic_backoffice_menu_item_form', {menuId: menuId, id: record.id}) }}"><i class="fa fa-pencil"></i></a>
            <a class="btn btn-danger btn-xs" href="{{ path('clastic_backoffice_menu_item_delete', {menuId: menuId, id: record.id}) }}"><i class="fa fa-trash"></i></a>
        </td>
        <td>{{ record.title }}</td>
        <td>
            <span class="label label-default">online</span>
        </td>
    </tr>
{% endblock %}
