{% extends 'ClasticNodeBundle:Backoffice/Node:list.html.twig' %}

{% block list_header %}
    <tr>
        <th></th>
        <th>Title</th>
        <th>Status</th>
    </tr>
{% endblock %}

{% block list_body %}
    <tr>
        <td>
            <a class="btn btn-success btn-xs" title="Edit" href="{{ path('clastic_node_form', {type: type, id: record.id}) }}"><i class="fa fa-pencil"></i></a>
            <a class="btn btn-danger btn-xs" title="Delete" href="{{ path('clastic_node_delete', {type: type, id: record.id}) }}"><i class="fa fa-trash"></i></a>
            <a class="btn btn-primary btn-xs" title="Items" href="{{ path('clastic_backoffice_menu_item_list', {menuId: record.id}) }}"><i class="fa fa-list"></i></a>
        </td>
        <td>{{ record.title }}</td>
        <td>
            <span class="label label-default">online</span>
        </td>
    </tr>
{% endblock %}
