{% extends 'ClasticBackofficeBundle::base.html.twig' %}

{% block page_title -%}
    Text
{%- endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <section class="node-list">
                <header class="header"></header>
                {{ form_start(form) }}
                    {{ form_widget(form) }}
                {{ form_end(form) }}
            </section>
        </div>
    </div>
{% endblock %}