{% extends '::base.html.twig' %}

{% block content_header %}
    <div class="blog-header">
        {% block clastic_front_content_title %}{% endblock %}
    </div>
{% endblock %}

{% block content %}
    {% block clastic_front_content %}{% endblock %}
{% endblock %}
