{% use 'form_div_layout.html.twig' %}

{% trans_default_domain 'clastic' %}

{% block file_browser_widget -%}
    <div class="file_browser_container">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="preview-container">
                    <img src="" class="preview center-block img-responsive" alt="Preview"><br>

                    <div class="caption"></div>
                </div>

                <div class="finder"></div>
            </div>
            <div class="panel-footer">
                <button type="button" class="select btn btn-primary">Select</button>
                <button type="button" class="unselect btn btn-danger">X</button>
            </div>
        </div>

        <div class="hidden">
            {{ block('form_widget_simple') }}
        </div>
    </div>
{%- endblock file_browser_widget %}
