.media-browser {
  position: relative;
  .add {
    position: absolute;
    right: 0;
    z-index: 999;
    a {
      float: right;
      padding: 5px 10px;
      font-size: 20px;
    }
    .form {
      display: none;
      width: 100%;
      background-color: #fff;
      padding: 10px;
    }
  }

  .row > div {
    min-height: 400px;
    padding: 20px;
  }
}
