{% extends 'ClasticBackofficeBundle::base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block page_title %}Profile{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            {% include "FOSUserBundle:Profile:show_content.html.twig" %}
        </div>
    </div>
{% endblock %}
