<li class="dropdown">
    <a aria-expanded="true" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#">
        <img src="{{ gravatar('dries@nousefreak.be') }}" class="img-circle" alt=""/>
        &nbsp;
        <span class="caret"></span>
    </a>
    <ul role="menu" class="dropdown-menu">
        <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
        <li><a href="#"><i class="fa fa-gear"></i> Settings</a></li>
        <li class="divider"></li>
        <li><a href="#"><i class="fa fa-sign-out"></i> Logout</a></li>
    </ul>
</li>
